@import "tailwindcss";

:root {
    --navy: #23395b;
    --teal: #59c9a5;
    --pink: #d81e5b;
}

* {
    font-family:
        "Inter",
        system-ui,
        -apple-system,
        sans-serif;
}
